<div class="container" ng-controller="AboutController">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>About</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            <h2>Purpose of this PoC3,</h2>
            <p>Purpose of this PoC is to build a simple web site similar to Outage Reporting Management page using AngularJS, Bootstrap, Grunt, Bower, Jasmine, Karma</p>
            <div class="well">
                <blockquote>
                    <p>Any sufficiently advanced technology is equivalent to magic.</p>
                    <footer>Sir Arthur C. Clarke,
                        <cite title="Source Title">http://ebookfriendly.com/best-technology-quotes/</cite></footer>
                </blockquote>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facts At a Glance</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>PoC3 Started</dt>
                        <dd>Jan 17, 2016</dd>
                        <dt>Major Stake Holder</dt>
                        <dd>BCHydro</dd>
                        <dt>Solution For</dt>
                        <dd>Cloud</dd>
                        <dt>Developed By</dt>
                        <dd>Michael Jo</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
